body {
  margin: 0 auto;
  background-color: lightgrey;
}
.wrapper {
  background-color: white;
  padding: 30px 70px;
}

ul {
  text-align: center;
}
#content {
  overflow: auto;
  padding: 35px 5px;
}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
}

.column1 {
  float: left;
}
.column2 {
  margin: 0% 3%;
}
.column3 {
  float: right;
  margin: 0%;
}


li {
  display: inline;
  padding: 0.5em;
}

.banner {
  background-color: #C1DCDC;
  margin-bottom: 1em;
  border-radius: 24px;
  width: 100%;
  height: 540px;
  display: flex;
}
.about{
    margin-bottom: 1em;
  border-radius: 24px;
  width: 100%;
  height: 540px;
  display: flex;    
}
.category{
  margin-bottom: 1em;
  border-radius: 24px;
  width: 100%;
  height: 860px;  
  background-color: #C1DCDC;
}
.sroll{
    margin-bottom: 1em;
    border-radius: 24px;
    width: 100%;
    height: 860px;  
  }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-family: Aclonia;
  font-size: 40px;
  font-style: oblique;
}
.home{
    color: black;
    font-size: 18px;
    font-style: italic;
}
.product{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-style: italic;
}
.contact{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-style: italic;
}
.flex-container{
    display: flex;
    padding: 10px 60px;
    flex-direction: column;
}
.flex-container > div {
    width: 60%;
    margin: 10px;
    line-height: 75px;
  }
.buy{
    height: 128px;
    font-size: 77px;
    font-family: cursive;
}
.imgflow{
    padding: 45px;
}
.bottom-right{
    display: flex;
}
.into-bottom-right{
    font-size: 25px;
    font-family: cursive;
    padding: 0px 30px;  
    border-right: 1px solid rgb(20, 174, 92);
    margin-top: 40px;
    height: 125px;
}
.into-bottom-left{
    font-size: 25px;
    font-family: cursive;
    padding: 40px 30px;
}
.input-search{
    width: 449px;
    height: 64px;
    border-radius: 12px;
    text-indent: 20px;
    position: relative;
}
.search-flup{
    position: absolute;
    transform: translate(355px, -60px);
    background-color: #C1DCDC;
    border-radius: 16px;
    height: 50px;
    width: 50px;
}
.flup{
    transform: translate(16px, -8px);
}
.left{
    float: left;
    width: 20%;
}
.right{
    float: right;
    width: 80%;
}
.selling{
    font-family: cursive;
    font-size: 32px;
    padding: 42px;
}
.easiest{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
    padding: 7px 37px;
}
.img-right{
    display: grid;
    padding: 55px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    row-gap: 100px;
    column-gap: 25px;
}
.icon-about{
    display: flex;
    padding: 60px 330px;
    /* grid-template-columns: 1fr 1fr 0fr;
    row-gap: 100px;
    column-gap: 306px; */

}
#circle {
    background: #C1DCDC;
    border-radius: 50%;
    width: 100px;
    height: 100px;  
    margin-left: auto;
    margin-right: auto;
}
#circle1 {
    background: #C1DCDC;
    border-radius: 50%;
    width: 100px;
    height: 100px;  
    margin-left: auto;
    margin-right: auto;
}
#circle2 {
    background: #C1DCDC;
    border-radius: 50%;
    width: 100px;
    height: 100px;  
    margin-left: auto;
    margin-right: auto;
}
.text-img{
    padding: 20px 1px;
    font-family: cursive;
    font-size: 18px;
}
.price-img{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
}
.buttonleft{
    padding: 50px 40px;
    
}
.buttom::after{ 
    content: url('img/arrow.png');
    display: inline-block;
    width: 12px;
    height: 12px;
}
.buttom{
    background-color: #C1DCDC;
    border-radius: 8px;
    width: 168px;
    font-size: 18px;
    font-family: cursive;
    height: 51px;
    position: relative;
}
.text-about{
    text-align: center;
    width: 100%;
}
.about-us{
    font-size: 32px;
    font-family: cursive;
}
.order{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
}
.fower{
    position: relative;
}
.flowerr{
    position: absolute;
    transform: translate(-20px, 26px);
}
.boxx{
    position: relative;
}
.box{
    position: absolute;
    transform: translate(-22px, 30px);
}
.cal{
    position: relative;
}
.call{
    position: absolute;
    transform: translate(-20px, 30px);
}
.large{
    padding: 20px 1px;
    font-family: cursive;
    font-size: 18px;
}
.we{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
}
.cate{
    display: flex;
    padding: 55px;
    justify-content: space-around;
}
.img2{
    text-align: center;
    padding: 20px 1px;
    font-family: cursive;
    font-size: 18px;
}
.imgto{
    text-align: center;
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
}
.img1{
    text-align: center;
    padding: 20px 1px;
    font-family: cursive;
    font-size: 18px;
}
.img3{
    text-align: center;
    padding: 20px 1px;
    font-family: cursive;
    font-size: 18px;
}
.top-img{
    z-index: 1;
    margin-top: -110px;
}
.top-img1{
    z-index: 1;
    margin-top: -110px;
}
.buttonn{
        background-color: white;
        border-radius: 8px;
        width: 168px;
        height: 51px;
        font-size: 18px;
        font-family: cursive;
}
.buttonn::after{
    content: "";
    background-image: url("img/arrow.png");
    display: inline-block;
    width: 22px;
    height: 12px;
}
.top-img2{
    text-align: center;
}
.what{
    padding: 40px;
    width: 457px;
    height: 96px;
    font-family: cursive;
    font-size: 32px;
}
.two-flex{
    column-gap: 60px;
    overflow-x: scroll;
    display: grid;
    padding: 55px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
}
.div-left{
    background-color: #C1DCDC;
    margin-bottom: 1em;
    border-radius: 24px;
    width: 900px;
    height: 429px;
}
.div-right{
    background-color: #C1DCDC;
    margin-bottom: 1em;
    border-radius: 24px;
    width: 900px;
    height: 429px;
}
.john{
    width: 704px;
    height: 81px;
    color: rgba(30, 30, 30, 0.75);
    font-size: 18px;
    font-family: cursive;
    padding: 40px 70px;
    text-align: center;
}
.jojem{
    width: 704px;
    height: 81px;
    color: rgba(30, 30, 30, 0.75);
    font-size: 18px;
    font-family: cursive;
    padding: 40px 70px;
    text-align: center;
}
.right-bot{
    display: flex;
    justify-content: space-between;
}
.left-bot{
    display: flex;
    justify-content: space-between;
}
.fe{
    display: flex;
}
.feman{
    padding: 60px 10px;
}
.doe{
    font-size: 18px;
    font-family: cursive;
}
.you{
    font-size: 12px;
    font-family: cursive;
    color: rgba(30, 30, 30, 0.75);
}
.flex-right{
    padding: 70px 100px;
    display: flex;
}
.start{
    padding: 10px;
}
.number-start{
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
}
.footer{
    background-color: #C1DCDC;
    height: 423px;

}
.foot{
    display: flex;
    justify-content: space-between;
}
.green{
    font-size: 18px;
    font-family: cursive;
    padding: 50px;
}
.help{
    padding: 2px 50px;
    font-family: cursive;
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;

}
.lowboy{
    font-size: 18px;
    font-family: cursive;
    color: rgba(30, 30, 30, 0.5);
    padding: 40px 26px;
}
.social{
    padding: 45px 55px;
    column-gap: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
}
.elip{
    position: relative;
}
.face{
    position: absolute;
    transform: translate(-30px, 15px);
}
.elip-inta{
    position: relative;
}
.inta{
    position: absolute;
    transform: translate(-34px ,15px);
}
.elip-twit{
    position: relative;
    
}
.twit{
    position: absolute;
    transform: translate(-34px ,15px);
}
.table{
 padding: 57px 110px;
}
.table_right{
    flex:40%;
    display: flex;
    justify-content: end;
} 
.table-item{
    padding-left: 30px;
    font-size: 18px;
    font-family: cursive;
}
.table-item p{
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    font-family: cursive;
}
@media (max-width: 1630px ) and (min-width: 584px){
    .bottom-right{
        padding: 12px 7px;
    }
    .buy{
        font-size: 40px;

    }
    .imgflow{
        margin-left: -143px;
        padding: 296px 18px;
    }
    .input-search{
        width: 250px;
        
    }
    .search-flup{
        transform: translate(195px, -60px);
    }
    .floww{
        height: 242px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .img-right{
        padding: 0px;
        grid-template-columns: 1fr 1fr
    }
    .icon-about{
        padding: 60px;
    }
    .fr37{
        height: 240px;
    }
    .fr36{
        height: 240px;
    }
    .fr38{
        height: 240px;
    }
    .category{
        height: 590px;
    }
    .green {
        padding: 26px;
    }
    .social{
        padding: 20px 15px;
    }
    .table {
        padding: 0px;
    }
}
@media (max-width: 759px ){
    .table-item{
        font-size: 14px;
    }
    .table-item p{
        font-size: 14px;
    }
}
@media (min-width: 1400px ) and (max-width: 2951px ){
    .table-item{
        font-size: 32px;
    }
    .table-item p{
        font-size: 32px;
    }
}